* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #f9f7f7;
  font-family: "Roboto", sans-serif;
}
nav {
  background-color: #dbe2ef;
  height: 5rem;
  font-size: 16px;
  color: #3f72af;
}
.nav-flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.name {
  padding: 2rem;
  font-size: 24px;
}

.nav-links {
  width: 25rem;
}
.nav-links a {
  color: inherit;
  text-decoration: inherit;
  padding-right: 2rem;
}

.main {
  background-image: url("assets/antalya.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
}

.outer-flex {
  display: flex;
  align-items: end;
}
.main-flex-container {
  display: flex;
  justify-content: center;
}

.profile-pic img {
  width: 100%;
  margin: auto;
  display: block;
}

.profile-pic {
  width: 20%;
}
.info {
  width: 20%;
  padding: 30px;
  background-color: #f9f7f7;
  text-align: left;
}

.info ul {
  list-style: none;
}
li {
  padding-bottom: 1rem;
}

.info h3 {
  padding: 0.5rem 0;
}

.info h4 {
  padding-bottom: 0.5rem;
}
