.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  align-content: center;
}

.pricing-plan {
  background-color: lightgray;
  border-radius: 5px;
  flex-basis: 400px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 30px;
}

.plan-price,
.plan-title {
  font-size: 36px;
}

.plan-features {
  list-style: none;
  margin: 1rem;
  padding: 0;
}

.plan-button {
  margin-bottom: 1.5em;
  padding: 8px 10px;
  background-color: rgb(252, 91, 33);
  border-color: rgb(252, 91, 33);
  border-radius: 5px;
  color: white;
}

li {
  margin-bottom: 1rem;
}
